@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@gateflow/ui/globals.css";

@layer base {
  html {
    zoom: 0.95;
  }
}


@layer base {
  html {
    zoom: 0.95;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
